* {
  font-family: 'KoHo', sans-serif;
}

.brandName {
  font-size: 40px;
  font-weight: 500;
  color: rgb(74, 72, 72);
}

.menuTitle {
  font-size: 25px;
  font-weight: 600;
  color: rgb(74, 72, 72);
}
